<!DOCTYPE html>
<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      layout:decorate="~{blocks/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[${course != null ? course.name : 'Новий курс'}]]</title>

    <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/typography.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/katex.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/quill/editor.css}"/>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between mt-2">
        <h4>[[${course != null ? course.name : 'Новий курс'}]]</h4>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Головна</a></li>
                <li class="breadcrumb-item"><a th:href="@{/course}">Курси</a></li>
                <li class="breadcrumb-item active" aria-current="page">[[${course != null ? course.name : 'Новий
                    курс'}]]
                </li>
            </ol>
        </nav>
    </div>
    <hr style="margin-top: 0"/>
    <div id="content-form">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <center>
                    <img id="image-preview" th:src="@{/img/default.png}" width="70%" height="auto">
                </center>
                <input id="image" accept=".png, .jpeg, .jpg" type="file" class="form-control mt-3 mb-3 check-image-extension">
                Назва курсу
                <input id="name" class="form-control mb-3">
                Максимальна можлива оцінка за курс
                <input id="maximumMark" class="form-control mb-3">
            </div>
            <div class="col-lg-6 col-sm-12" id="statistic"></div>
        </div>
        Ціль курсу
        <div id="snow-toolbar">
  <span class="ql-formats">
    <select class="ql-font"></select>
    <select class="ql-size"></select>
  </span>
            <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
  </span>
            <span class="ql-formats">
    <select class="ql-color"></select>
    <select class="ql-background"></select>
  </span>
            <span class="ql-formats">
    <button class="ql-script" value="sub"></button>
    <button class="ql-script" value="super"></button>
  </span>
            <span class="ql-formats">
    <button class="ql-header" value="1"></button>
    <button class="ql-header" value="2"></button>
    <button class="ql-blockquote"></button>
    <button class="ql-code-block"></button>
  </span>
        </div>
        <div id="goal" class="mb-4">
        </div>
    </div>

    <button class="btn btn-outline-primary float-end" onclick="save()">Зберегти</button>
    <button class="btn btn-outline-secondary float-end" style="margin-right: 15px" id="cancel">Відмінити</button>

    <script th:src="@{/assets/vendor/libs/quill/katex.js}"></script>
    <script th:src="@{/assets/vendor/libs/quill/quill.js}"></script>

    <script th:inline="javascript">
        var course = /*[[${course}]]*/ {};
        var csrf_token = /*[[${_csrf.token}]]*/ {};
    </script>
    <script th:src="@{/js/course/edit.js}"></script>
</section>
</body>
</html>