<!DOCTYPE html>
<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      layout:decorate="~{blocks/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <script th:inline="javascript">
        var csrf_token = /*[[${_csrf.token}]]*/ {};
    </script>

    <link th:rel="stylesheet" th:href="@{assets/vendor/libs/apex-charts/apex-charts.css}"/>
    <script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>
    <script th:src="@{/assets/vendor/libs/chartjs/chartjs.js}"></script>


    <script th:src="@{/js/statistic/index.js}"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="row gy-4 mt-4 mb-4">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-content" id="active-student">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-content" id="active-course">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-content" id="lesson-held">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4">
                <div class="card-content" id="number-tasks">
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-4 mt-4 mb-4">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <h5>Присутність студентів на заняттях</h5>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">

        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">

        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <select id="course" class="mt-4 form-selectfix"></select>
        </div>
    </div>
    <div id="lineChart" class="mt-2"></div>

    <div class="row gy-4">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <h5 style="margin-top: 40px">Студенти і їх загальна оцінка</h5>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-end d-none d-lg-block">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-end d-none d-lg-block">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <select id="courseForStudentsMark" class="form-select"></select>
        </div>
    </div>
    <div>
        <div class="empty-block"></div>
        <div id="block-student-mark-stats"></div>
    </div>

    <h5 style="margin-top: 40px">Студенти з невиконаними завданнями</h5>
    <div class="row gy-4">
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-end">
            <input id="search" class="form-control for-filter">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-end d-none d-lg-block">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-end d-none d-lg-block">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-end">
            <select id="courseForStudent" class="form-select"></select>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped linkedRow" id="studentTable"
                       style="table-layout: fixed;">
                    <thead>
                    <tr>
                        <th style="width: 200px">Група</th>
                        <th style="width: 200px">Студент</th>
                        <th style="width: 200px">Telegram</th>
                        <th style="width: 200px">Задачі</th>
                        <th style="width: 200px">Оцінка</th>
                    </tr>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <ul class="pagination pagination-sm m-0 mt-1" style="display: flex; justify-content: flex-end"
                id="pagination_container">
            </ul>
        </div>
    </div>
</section>
</body>
</html>