<!DOCTYPE html>
<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      layout:decorate="~{blocks/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Заняття</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script th:inline="javascript">
        var csrf_token = /*[[${_csrf.token}]]*/ {}
        var lessonId = /*[[${lessonId}]]*/ {}
        var view = /*[[${view}]]*/ {}
    </script>
    <script th:src="@{/js/lesson/add.js}"></script>
</head>
<body>
<section layout:fragment="content" id="all-content">
    <div class="d-flex justify-content-between mt-2">
        <h4>Заняття розпочато</h4>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Головна</a></li>
                <li class="breadcrumb-item"><a th:href="@{/lesson}">Заняття</a></li>
                <li class="breadcrumb-item active" aria-current="page">В процесі</li>
            </ol>
        </nav>
    </div>
    <hr style="margin-top: 0"/>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped linkedRow" id="reviewTable"
                       style="table-layout: fixed;">
                    <thead>
                    <tr>
                        <th style="width: 200px">Студент</th>
                        <th style="width: 200px">Присутній</th>
                        <th style="width: 210px"></th>
                    </tr>
                    <tr>
                        <th><input class="form-control for-filter"></th>
                        <th></th>
                        <th><button id="clean-all-input-for-filtering" class="btn btn-outline-secondary float-end">Очистити</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <ul class="pagination pagination-sm m-0 mt-1" style="display: flex; justify-content: flex-end"
                id="pagination_container">
            </ul>
        </div>
    </div>
    <button id="finish-lesson-button" class="btn btn-primary float-end mt-4" onclick="lessonFinish()">Завершити заняття</button>
</section>
</body>
</html>